{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1 style="color: #F2BB05">Sobre nosotros!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Somos un grupo de estudiante de la Universidad Tecnológica de Bolívar, esta pagina web es parte de un proyecto final el cual tiene como objetivo ser una manera facil y práctica de pedir comida por internet en medio de la situación actual de confinamiento en el pais debido a la pandemia.</p>
            <p>Developed by Edgar Hernández - Camilo Fernández and René de Oro.</p>
        </div>
    </div>
</div>
{% endblock content %}
